@media only screen and (max-width: 1000px)
	body
		margin 5px
	.header 
		& a span
			font-size 11px
		
		& span.right_ab
			display none

	.va-wrapper
		width 400px 
		height 100%
		position relative
		overflow hidden
		
	.va-title
		font-size 16px !important
		margin-left 0px !important
		text-align right !important
	
	footer 
		text-align center
		Vertical-align center
		width 100%
		height auto
		background-color $atenea_azul
		color white
		
		& .cpy, & .date
			font-size .7rem !important