/* DESKTOP */
@media screen and (min-width: 1110px)
 
  /* MENU */
  .menu-button, .close-button
    display none
    
  /* ==BOTONES == */
  .myButton
    color #fff
    display inline-block
    text-align center
    width 110px
    height 35px
    text-decoration none
    vertical-align middle
    font-family 'zurich', 'zurich_B'
    
  .myButton span
    margin-right 1px
    
  .myButton.blue1
    background #3e8acc
    
  .myButton.green1
    background #58b957
    
  .myButton.orange1
    background #f2ae43
      
  .myButton.red1
    background #db524b

  .myButton.purple1
    background #7000B6
  
      
  .myButton:hover
    box-shadow 0px 2px 0px rgba(255, 255, 255, 1)
      

  #bar-left .texto
    margin-top 10px
    font-size 2rem
    margin-left 100px
  
  #bar-right
    font-size 1.5rem
    margin-top 10px
    
  #logo
    float left
    
    & h1
      margin 10px 0px 0px 30px
      
  /* Nav */
  .tabs nav 
    width 100%
    height 40px
    text-align center
    margin 0px auto

  .tabs nav ul 
    list-style none

  .tabs nav ul li 
    margin 0px .5em
    display inline-block
    
  .tabs nav a 
    //color #becbd2
    font-size .9rem
    line-height 2.5
    //padding 0 1.25em
    white-space nowrap
    
  .tabs nav li.tab-current a
    box-shadow 0px 5px 0px rgba(255, 255, 255, 1)
    font-weight bold
    text-align center
 

  .tabs nav a:before 
    display inline-block
      

  .content section 
    height 500px
    max-width 1000px
    margin 0px 100px 0px 34%
  
  .mediabox
    width 45%
    
  footer
    & .cpy
      font-size 1.2rem 
  
    & .date
      font-size .8rem
    
     & .tel
      font-size .9rem   
    
@media screen and (max-width: 1109px)

  /* MENU */    
  .myButton
    display none
    
  .menu-button
    position absolute
    top 60px
    z-index 1000
    width 2.5em
    height 2.25em
    border none
    text-indent 2.5em
    font-size 1.5em
    color transparent
    background transparent

  .menu-button::before
    position: absolute
    top 0.5em
    right 0.5em
    bottom 0.5em
    left 0.5em
    background linear-gradient(#ffffff 20%, transparent 20%, transparent 40%, #ffffff 40%, #ffffff 60%, transparent 60%, transparent 80%, #ffffff 80%)
    content ''

  .menu-button:hover
    opacity 0.6

  .close-button
    width 16px
    height 16px
    position absolute
    right 1em
    top 1em
    overflow hidden
    text-indent 16px
    border none
    z-index 1001
    background transparent
    color transparent

  .close-button::before,
  .close-button::after
    content ''
    position absolute
    width 2px
    height 100%
    top 0
    left 50%
    background #888

  .close-button::before
    -webkit-transform rotate(45deg)
    transform rotate(45deg)

  .close-button::after
    -webkit-transform rotate(-45deg)
    transform rotate(-45deg)
    
  /* Ventana menu */  
  .tabs nav a
    font-size 24px
    font-weight 400 !important
    
  .menu-wrap
    position absolute
    z-index 1001
    width 90%
    height 100%
    font-size 1em
    -webkit-transform translate3d(-280px,0,0)
    transform translate3d(-280px,0,0)
    -webkit-transition -webkit-transform 0.4s
    transition transform 0.4s

  .menu-wrap a
    color #b8b7ad

  .menu-wrap a:hover,
  .menu-wrap a:focus 
    color #ED9512
    background white

  .menu
    position relative
    z-index 1000
    padding 2em auto

  .menu,
  .close-button
    opacity 0
    -webkit-transform translate3d(-160px,0,0)
    transform translate3d(-160px,0,0)
    -webkit-transition opacity 0s 0.3s, -webkit-transform 0s 0.3s
    transition opacity 0s 0.3s, transform 0s 0.3s
    -webkit-transition-timing-function cubic-bezier(.17,.67,.1,1.27)
    transition-timing-function cubic-bezier(.17,.67,.1,1.27)

  

  .morph-shape
    position absolute
    width 100%
    height 100%
    top 0
    right 0
    fill #000


  .show-menu .menu-wrap,
  .show-menu .content::before
    -webkit-transition-delay 0s
    transition-delay 0s

  .show-menu .menu-wrap,
  .show-menu .menu,
  .show-menu .close-button,
  .show-menu .morph-shape,
  .show-menu .content::before
    -webkit-transform translate3d(0,0,0)
    transform translate3d(0,0,0)
    
  .show-menu .menu,
  .show-menu .close-button
    opacity 1
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s
    transition: opacity 0.3s, transform 0.3s
    -webkit-transition-delay 0.4s
    transition-delay 0.4s

  .show-menu .content::before
    opacity 1
    -webkit-transition: opacity 0.4s
    transition opacity 0.4s
  

  
  #saber
    display none
    
  .top-bar
    height 15px
    
  #bar-left
    height 15px
    
  #bar-left .texto
    margin-top 20px
    font-size .8rem
    margin-left 10px

  #bar-right
    max-height 20px
    width 30%
    font-size .8rem
    margin-top 20px
  
  #line
    display none
  
  #logo
    margin 0px auto
    text-align center
  
  /* Nav */
  .tabs nav 
    float left
    margin 0px auto
    width 100%
    height 100%
    
  .tabs nav ul 
    list-style none
    padding 30px 30px
  
  .tabs nav a 
    display block
    font-size 22px
    font-weight bold
    line-height 40px
    white-space nowrap

    
  
  .content section 
    height auto !important
    margin 0px auto !important
    width 500px
    margin-bottom 100px !important
    text-align justify
      
    
  footer
    & .cpy
      font-size .9rem 
  
    & .date
      font-size .7rem
    
     & .tel
      font-size .8rem   
   /*   
  .menu-wrap 
    position absolute
    z-index 1001
    width 280px
    height 100%
    font-size 1.15em
    -webkit-transform translate3d(-280px,0,0)
    transform translate3d(-280px,0,0)
    -webkit-transition -webkit-transform 0.4s
    transition transform 0.4s
*/
    

@media screen and (max-width: 480px)
  .content section 
    width 280px
