@charset "utf-8";
/* CSS Document */ 

/* ---------- FONTAWESOME ---------- */
/* ---------- http://fortawesome.github.com/Font-Awesome/ ---------- */
/* ---------- http://weloveiconfonts.com/ ---------- */
@import url(http://weloveiconfonts.com/api/?family=fontawesome);

/* ---------- FONTAWESOME ---------- */

[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}


/* ---------- myform ---------- */

#myform .align-right{
	float: right;
}

#myform {
	font-size: 14px;
	margin: 0px auto;
	width: 90%;
}

#myform h2 {
	border-radius: 20px 20px 0 0;
	color: #fff;
	font-size: 1.1rem;
	padding: 10px;
}

#myform h2 span[class*="fontawesome-"] {
	margin-right: 1rem;
}
#myform label{
	color: #000;
	margin-top: 10px;
}

#myform fieldset {
	border-radius: 0 0 10px 10px;
	padding: 0px 0px;
	width: 99%;
}

#myform fieldset p {
	color: #777;
}

#myform fieldset p:last-child {
	margin-bottom: 0;
}

#myform fieldset input {
	background: #eee;
	border-radius: 5px;
	color: #000;
	padding: 4px 0px;
	width: 80%;
}


#myform fieldset input[type="email"], #myform fieldset input[type="text"], 
#myform fieldset input[type="number"], #myform fieldset textarea {
	margin-right: 0px;
	background: #eee;
}


#myform fieldset input[type="submit"] {
	background: white;
	color: black;
	font-size: 14px;
	display: block;
	margin: 0 auto;
	padding: 4px 0;
	width: 80px;
	cursor: pointer;
}
#myform fieldset input:focus, select:focus, textarea:focus{
    background-color: #ccc;
}

#myform fieldset input[type="submit"]:hover {
	background: #ccc;
}


#myform fieldset .input-mini {
	background: #fff;
	border-radius: 15px;
	color: #555;
	padding: 4px 0px;
	width: 40%;
}


#myform fieldset .captcha{
    font-size: .7rem;
    float: left;
    margin: 10px 0 0 10px;
}

#myform fieldset .captcha input[type=text]
{
    background: #fff;
    color: #000;
    font-weight: bold;
    font-size: 1rem;
    width: 50px;
    height: 25px;
}

#myform fieldset .captcha input:focus{
    background-color: #ffa;
}

.bitacora-formulario{
	font-size: .7rem;
	color: #ccc;
	margin: 30px 10px;
	width: 300px;
}

.bitacora-formulario a{
	text-decoration: none;
	color: #aaa;
}


/*SMARTHPONES*/
@media screen and (max-width:700px){

h2{font-size: .8rem;}


}
